.rain{
  background-image: url(../assets/img/rain.jpg);
   background-position: center;
  background-size: cover;
}
.Cloudy{
  background-image: url(../assets/img/cloudy.jpg);
   background-position: center;
  background-size: cover;
}
.cloudy{
  background-image: url(../assets/img/cloudy.jpg);
   background-position: center;
  background-size: cover;
}
.Overcast{
  background-image: url(../assets/img/cloudy.jpg);
   background-position: center;
  background-size: cover;
}
.Sunny{
  background-image: url(../assets/img/sun.jpg);
  background-position: center;
  background-size: cover;
}
.Clear{
  background-image: url(../assets/img/sun.jpg);
  background-position: center;
  background-size: cover;
}
.storm{
  background-image: url(../assets/img/storm.jpg);
   background-position: center;
  background-size: cover;
}

